# Introdução à estatística com python

In [2]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.6.tar.gz (84 kB)
     ---------------------------------------- 0.0/84.6 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/84.6 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/84.6 kB ? eta -:--:--
     ------------- ------------------------ 30.7/84.6 kB 163.8 kB/s eta 0:00:01
     ------------------------------------ - 81.9/84.6 kB 416.7 kB/s eta 0:00:01
     -------------------------------------- 84.6/84.6 kB 397.4 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (2.28.2)
Requirement already satisfied: tqdm in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (4.65.0)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from kaggle) (1.26.15)
Collecting bleach (from kaggle)
  Downloading bleach-6.1.0-py3-none-any.whl.metadata (30 kB)
Collecting webencodings (from bleach->kaggle)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
     ---------------------------------------- 0.0/78.2 kB ? eta -:--:--
     ---------------------------------------- 78.2/78.2 kB 4.5 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->kaggle) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\yasmi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from tqdm->kaggle) (0.4.6)
Downloading bleach-6.1.0-py3-none-any.whl (162 kB)
   ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
   ---------------------------------------- 162.8/162.8 kB 9.5 MB/s eta 0:00:00
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (pyproject.toml): started
  Building wheel for kaggle (pyproject.toml): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.6-py3-none-any.whl size=111953 sha256=adc9165a2d5c3ac7f1870ea7381e9e2d8e1696222e90397c956d928e50e8cb3d
  Stored in directory: c:\users\yasmi\appdata\local\pip\cache\wheels\97\06\54\3d44857e6aa73d66d0174f29389e7ea70c007105797e6ec05c
Successfully built kaggle
Installing collected packages: webencodings, text-unidecode, python-slugify, bleach, kaggle
Successfully installed bleach-6.1.0 kaggle-1.6.6 python-slugify-8.0.4 text-unidecode-1.3 webencodings-0.5.1

In [46]:
import pandas as pd
import kaggle
import numpy as np

In [ ]:
!kaggle datasets download -d devansodariya/student-performance-data

In [9]:
df = pd.read_csv('student_data.csv')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [16]:
df.info() # Podemos ver que esse dataset não possui valores nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [45]:
# Sumário estatistico simplificado
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

Aprofundando o Conceito de Frequências

Frequência Absoluta (Contagem): Refere-se à quantidade de vezes que um determinado valor de uma variável ocorre dentro de um conjunto de dados.

Frequência Relativa: Indica a proporção ou a fração do total de ocorrências de um valor específico em relação ao número total de observações ou ao total da amostra.

Frequência Absoluta Acumulada: É o  acúmulo das frequências dos níveis anteriores.

Frequência Relativa Acumulada: É a proporção acumulada, dado o acúmulo das proporções dos níveis anteriores.

In [13]:
# Frequência absoluta
fa = df['sex'].value_counts()
print('Frequência absoluta')
fa

Frequência absoluta

sex
F    208
M    187
Name: count, dtype: int64

In [25]:
# Frequência relativa
fr = df['sex'].value_counts(normalize=True) # O normalize retorna as frequências relativas dos valores
print('Frequência relativa')
print(fr)

# Ou também mostrando em porcentagem
frporcento = (fr * 100).round(2)
print('Em porcentagem:')
print(frporcento)

Frequência relativa
sex
F    0.526582
M    0.473418
Name: proportion, dtype: float64
Em porcentagem:
sex
F    52.66
M    47.34
Name: proportion, dtype: float64

Logo temos a seguinte tabela

In [48]:
tabela_frequencia = pd.DataFrame({
    "fa": fa,
    'fr': frporcento
}).reset_index()

tabela_frequencia.columns = ['Sexo', 'FA', 'FR']

tabela_frequencia

  Sexo   FA     FR
0    F  208  52.66
1    M  187  47.34

In [49]:
# Frequência absoluta acumulada
tabela_frequencia['FAA'] = tabela_frequencia['FA'].cumsum()
tabela_frequencia

  Sexo   FA     FR  FAA
0    F  208  52.66  208
1    M  187  47.34  395

In [54]:
# Frequência relativa acumulada
tabela_frequencia['FRA'] = (tabela_frequencia['FR'] / 100).cumsum()
tabela_frequencia

  Sexo   FA     FR  FAA     FRA
0    F  208  52.66  208  0.5266
1    M  187  47.34  395  1.0000

Criando faixas de valores

In [44]:
agrupando_idade = df['age'].value_counts(bins=5)
agrupando_idade.sort_index()

(14.992, 16.4]    186
(16.4, 17.8]       98
(17.8, 19.2]      106
(19.2, 20.6]        3
(20.6, 22.0]        2
Name: count, dtype: int64

Após isso é possivel perceber que temos mais dados de estudantes entre 14 e 16 anos.